body {
    background-color: lightblue;
    font-family: monospace;
}
div.main {
    margin: auto;
    background-color: whitesmoke;
    max-width: 75%;
    display: block;
}
div.title {
    font-size: 50px;
    text-align: center;
}
div {
    text-align: center;

}
li {
    display: inline;
}
a:link, a:visited {
    position: relative;
    background-color: lightseagreen;
    color: black;
    box-sizing: border-box;
    padding: 14px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px;
  }
  
  a:hover, a:active {
    background-color: red;
  }