.logo{
    color: blue;
    font-weight: 750;
    font-size: 1.5em;
    font-family: monospace;
}

.navBar{
   background: blue !important;
   font-family: monospace !important;
   
}


body{
    background: url("back.jpg");
	background-size: cover;
}

.topicLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


@media (max-width: 992px) { 
    
    .mainDiv{
        margin: auto;
        width: 80% !important;
        height: autos;
        padding: 10px;
        background-color: transparent;
    }
}

.mainDiv{
    margin: auto;
    width: 100%;
    height: autos;
    padding: 10px;
    background-color: transparent;
}

div
{
	background-color: transparent;
}

.divSection {
    margin: auto;
	
}

section, aside
{
	background-color: white;
	margin-left: 170px;
}

h1{
    text-align: center
}

h4{
    text-align: center;
    color:cornflowerblue;
    font-family: sans-serif;
}

p{
    text-align: center;
    font-family: sans-serif;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; 
  /*top: 0; 
  left: 0;*/
  background-color: #AEF7F9;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: grey;
}
